{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid text-center">
        <h1 class="mt-4">{{ title }}</h1>
        {% for card in card_list %}
            <div class="row main p-1 border border-grey mt-1 mb-4">
                <div class="col-12">
                    <h2 class="oranged m-2">{{ card.title }}</h2>
                </div>
                <div class="col-md-2 mt-3">
                    <div class="m-2">
                        Серия карты:
                    </div>
                    <div class="m-2">
                        Номер карты:
                    </div>
                </div>
                <div class="col-md-2 mt-3">
                    <h3>
                        {% if card.card_series %}
                            {{ card.card_series }}
                        {% else %} -
                        {% endif %}
                    </h3>
                    <h3 class="oranged mt-1">{{ card.card_number }}</h3>
                </div>
                <div class="col-md-2 mt-3">
                    <div class="mt-2">
                        <p class="small">Дата выпуска: </p>
                    </div>
                    <div class="mt-2">
                        <p class="small">Дата окончания действия: </p>
                    </div>
                </div>
                <div class="col-md-2 mt-3 small">
                    <div class="mt-2">
                        {{ card.release_date | date }}
                    </div>
                    <div class="mt-2">{% if card.card_series %}
                        {{ card.expiration_date | date }}
                    {% else %} -
                    {% endif %}</div>
                </div>
            <div class="col-md-2 mt-3">
                    Статус:
                        {{ card.get_card_status_display }}
            </div>
            <div class="col-md-2 mt-3">
                <div class="container-fluid pt-4 pb-3 text-center">
                    <div class="row justify-content-center align-bottom">
                        <a class='btn btn-primary all-width'
                           href='#'>Подробнее</a>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
